# Cross Validation Code Along

In [19]:
from seaborn import get_dataset_names, load_dataset
get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'exercise',
 'flights',
 'fmri',
 'gammas',
 'geyser',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'tips',
 'titanic']

In [20]:
load_dataset('diamonds')['cut'].value_counts()

Ideal        21551
Premium      13791
Very Good    12082
Good          4906
Fair          1610
Name: cut, dtype: int64

In [26]:

diamonds = load_dataset('diamonds')
diamonds.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [27]:
from seaborn import get_dataset_names, load_dataset
from sklearn.preprocessing import LabelBinarizer

diamonds = load_dataset('diamonds')

# 21551 diamonds are ideal, so almost half of the 53939
# We will change this into an ideal/not ideal binary problem

def make_ideal_not_ideal(element):
    if element == "Ideal":
        return 1
    else:
        return 0

lb = LabelBinarizer()
diamonds['cut'] = diamonds['cut'].apply(make_ideal_not_ideal)
diamonds.head()

   carat  cut color clarity  depth  table  price     x     y     z
0   0.23    1     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21    0     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23    0     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29    0     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31    0     J     SI2   63.3   58.0    335  4.34  4.35  2.75

# Train Test Split

In [ ]:
# Never fit on the test set

In [1]:
# Look at the difference between Train and test in order to diagnose bias variance trade off

In [ ]:
#

# Cross validation

# Cross validation with a hold out set

# Pipelines

# Pipelines and Class Imbalance